body,
html {
  width: 100%;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.topnav {
  font-size: 14px;
}

.lead {
  font-size: 18px;
  font-weight: 400;
}

.intro-header {
  text-align: center;
  color: #f8f8f8;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(https://res.cloudinary.com/embengineering/image/upload/v1523919949/intro-bg.jpg)
      no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message > h1 {
  margin: 0;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);
}

@media (max-width: 767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message > h1 {
    font-size: 3em;
  }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background-size: cover;
}

.banner-background-1 {
  background: url(https://res.cloudinary.com/embengineering/image/upload/v1523919947/banner-bg.jpg)
    no-repeat center center;
}

.banner-background-2 {
  background: url(https://res.cloudinary.com/embengineering/image/upload/v1523919948/banner-bg2.jpg)
    no-repeat center center;
}

.banner h2,
.banner h3 {
  margin: 0;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);
}

.banner h2 {
  font-size: 3em;
}
.banner h3 {
  font-size: 2em;
}

.banner h2 small,
.banner h3 small {
  color: #e7e7e7;
}

.banner ul {
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

@media (max-width: 1199px) {
  .banner ul {
    justify-content: center;
  }

  .banner ul li {
    margin: 5px;
  }
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);
    font-size: 3em;
  }

  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
  background-color: #f8f8f8;
}

p.copyright {
  margin: 15px 0 0;
}

.intro-social-buttons .btn,
.banner-social-buttons .btn {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
